* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background-color: #181926;
  color: #cad3f5;
  border-radius: 10px;
  border: 3px solid #c6a0f6;
}

#workspaces {
  background-color: #181926;
  box-shadow: none;
  border-radius: 10px;
  border: 2px solid #c6a0f6;
}

#workspaces button {
  padding: 1px 3px;
  color: #cad3f5;
  border-radius: 0;
  font-weight: 700;
  outline: none;
}

.modules-left {
  border-radius: 10px;
}

#workspaces button.focused {
  background-color: #c6a0f6;
  color: #181926;
}

#workspaces button:hover {
  box-shadow: none;
}

#workspaces button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#workspaces button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#window {
  background-color: #121926;
  color: #cad3f5;
  padding: 0 8px;
  border-radius: 10px;
  border: 2px solid #c6a0f6;
}

#waybar.empty #window {
  background-color: transparent;
  border: none;
}

#language,
#clock,
#mode,
#tray,
#battery,
#network,
#custom-powermenu,
#pulseaudio {
  background-color: #121926;
  color: #cad3f5;
  padding: 1px 5px;
  border: 2px solid #c6a0f6;
  border-left: none;
  border-right: none;
}

#mode {
  border: 2px solid #c6a0f6;
  border-radius: 10px;
  margin-left: 10px;
}

#custom-powermenu {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 12px;
  border-right: 2px solid #c6a0f6;
}

#pulseaudio {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 8px;
  border-left: 2px solid #c6a0f6;
}

#tray {
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #c6a0f6;
}
