* {
	background-image: none;
}

window {
  background-color: #181926;
}

button {
	background-color: #181926;
	border: 5px solid #c6a0f6;
	background-repeat: no-repeat;
	background-position: center 40%;
	background-size: 20%;
	color: #cad3f5;
	font-family: "JetBrains Mono", sans-serif;
	text-shadow: none;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	outline: none;
	box-shadow: none;
}

button:focus, button:active, button:hover {
  border: 5px solid #ed7896;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
